<%= form_with(model: store, local: true) do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
      <% store.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :animation %>
    <%= form.check_box :animation %>
  </div>

  <div class="field">
    <%= form.label :sketch %>
    <%= form.check_box :sketch %>
  </div>

  <div class="field">
    <%= form.label :sold_out %>
    <%= form.check_box :sold_out %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
