<p id="notice"><%= notice %></p>

<p>
  <strong>Bio:</strong>
  <%= @about.bio %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @about.pic %>
</p>

<%= link_to 'Edit', edit_about_path(@about) %> |
<%= link_to 'Back', abouts_path %>
